/*------全局html标签样式-------*/
html,body{
    font-weight: 300;
}
a:hover{
    text-decoration:none;
    color:#4527a0;
}

a:focus{
    text-decoration: none
}

a{
    color:black;
    word-wrap: break-word;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style:none;
}

p{
    word-wrap: break-word;
}

/*------复写bootstrap样式-------*/

@media (min-width: 1200px){
    .container {
        width: 970px;
    }
}

.pagination > li > a{
    color:#4527a0;
}

.pagination > .active > a {
    background-color: #4527a0;
    border-color: #4527a0;
}

/*------自定义样式-------*/
.label-theme{
    background-color: #4527a0;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
}

/*------icon样式-------*/
.icon{
    background-size: 18px 18px;
    background-repeat:no-repeat;
    height: 18px;
    padding-left: 24px;
    margin-bottom: 15px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.user{
    background-image: url("../svg/user.svg");
}

.male{
    background-image: url("../svg/male.svg");
    background-size: 25px 25px;
    height: 25px;
}

.female{
    background-image: url("../svg/female.svg");
}

.github{
    background-image: url("../svg/mark-github.svg");
}

.repo{
    background-image: url("../svg/repo.svg");
    padding-right: 24px;
    width: 100%;
}

.mortar-board{
    background-image: url("../svg/mortar-board.svg");
}

.location{
    background-image: url("../svg/location.svg");
    background-size: 16px 18px;

}

/*------个人信息样式-------*/

.info {
    margin-top: 15px;
    padding-bottom: 30px;
    width: 150px;
    height: 100px;

}

/*------文章列表样式-------*/

.list{

}

 ul{
    padding: 0px;
}

.list li{
    line-height:50px;
    border-bottom: 1px solid #EEEED0;
}

.list li a{
    /*float:left;*/
    vertical-align: middle;
    display:inline-block;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.float-right{
    float:right;
}

/*------标签列表样式-------*/

.tag-list{

}

.tag-list li{
    line-height:40px;
    border-bottom: 1px solid #EEEED0;
}

.tag-list li a{
    vertical-align: middle;
    display:inline-block;
    width: 88%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*禁止触发li点击事件*/
.none-pointer{
    pointer-events:none;
}


/*————————加载动画样式——————————*/
.spinner {
    margin: 100px auto 0;
    width: 150px;
    text-align: center;
}

.spinner > div {
    width: 30px;
    height: 30px;
    background-color: #4527a0;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
